<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ name }} | Styleguide</title>
    <meta name="description" content="Styleguide for {{ project }} by {{ author }}">
    <meta name="author" content="{{ author }}">

    <!-- dist -->
    <link type="text/css" href="/project/{{ cssFile }}" rel="stylesheet">
</head>

<body class="theme-page">
    {% include preview.include %}
</body>
</html>